In [44]:
import pandas as pd
import numpy as np # Buena práctica tenerlo importado también

print("library imported!")

columnas = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']
df_iris = pd.read_csv('iris.csv', header=None, names=columnas)

# Ahora esto funcionará
print(df_iris['species'].value_counts())

library imported!
species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [41]:
# Specify the path to the CSV file
file_path = 'iris.csv'
# Load the data into a Pandas DataFrame
df_iris = pd.read_csv(file_path)

print("Iris dataset loaded successfully.")

Iris dataset loaded successfully.

In [29]:
df_iris.head()# Muestra las primeras 5 filas

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [30]:
df_iris.tail(3) # Muestra las últimas 3 filas

     sepal_length  sepal_width  petal_length  petal_width         species
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [31]:
df_iris.shape # Muestra (número de filas, número de columnas)

(150, 5)

In [32]:
df_iris.info() # Información sobre tipos de datos y valores no nulos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [33]:
df_iris.describe() # Estadísticas descriptivas para columnas numéricas

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [34]:
df_iris.columns # Lista de nombres de columnas

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [35]:
df_iris['species'].value_counts() # Cuenta cuántas veces aparece cada especie

species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [52]:
df_iris.loc[0] # Selecciona la fila con índice (etiqueta) 0 (devuelve una Serie)

sepal_length            5.1
sepal_width             3.5
petal_length            1.4
petal_width             0.2
species         Iris-setosa
Name: 0, dtype: object

In [ ]:
df_iris.loc[[0, 1, 2,], ['sepal_length', 'species']] # Filas 0,1,2 y columnas específicas

   sepal_length      species
0           5.1  Iris-setosa
1           4.9  Iris-setosa
2           4.7  Iris-setosa
1           4.9  Iris-setosa

In [56]:
df_iris.loc[df_iris['species'] == 'setosa'] # ¡Muy potente! Selección basada en condición (Boolean Indexing)

Empty DataFrame
Columns: [sepal_length, sepal_width, petal_length, petal_width, species]
Index: []

In [46]:
df_iris.loc[df_iris['petal_length'] > 5.0] # Flores con longitud de pétalo > 5.0

     sepal_length  sepal_width  petal_length  petal_width          species
83            6.0          2.7           5.1          1.6  Iris-versicolor
100           6.3          3.3           6.0          2.5   Iris-virginica
101           5.8          2.7           5.1          1.9   Iris-virginica
102           7.1          3.0           5.9          2.1   Iris-virginica
103           6.3          2.9           5.6          1.8   Iris-virginica
104           6.5          3.0           5.8          2.2   Iris-virginica
105           7.6          3.0           6.6          2.1   Iris-virginica
107           7.3          2.9           6.3          1.8   Iris-virginica
108           6.7          2.5           5.8          1.8   Iris-virginica
109           7.2          3.6           6.1          2.5   Iris-virginica
110           6.5          3.2           5.1          2.0   Iris-virginica
111           6.4          2.7           5.3          1.9   Iris-virginica
112           6.8          3.0           5.5          2.1   Iris-virginica
114           5.8          2.8           5.1          2.4   Iris-virginica
115           6.4          3.2           5.3          2.3   Iris-virginica
116           6.5          3.0           5.5          1.8   Iris-virginica
117           7.7          3.8           6.7          2.2   Iris-virginica
118           7.7          2.6           6.9          2.3   Iris-virginica
120           6.9          3.2           5.7          2.3   Iris-virginica
122           7.7          2.8           6.7          2.0   Iris-virginica
124           6.7          3.3           5.7          2.1   Iris-virginica
125           7.2          3.2           6.0          1.8   Iris-virginica
128           6.4          2.8           5.6          2.1   Iris-virginica
129           7.2          3.0           5.8          1.6   Iris-virginica
130           7.4          2.8           6.1          1.9   Iris-virginica
131           7.9          3.8           6.4          2.0   Iris-virginica
132           6.4          2.8           5.6          2.2   Iris-virginica
133           6.3          2.8           5.1          1.5   Iris-virginica
134           6.1          2.6           5.6          1.4   Iris-virginica
135           7.7          3.0           6.1          2.3   Iris-virginica
136           6.3          3.4           5.6          2.4   Iris-virginica
137           6.4          3.1           5.5          1.8   Iris-virginica
139           6.9          3.1           5.4          2.1   Iris-virginica
140           6.7          3.1           5.6          2.4   Iris-virginica
141           6.9          3.1           5.1          2.3   Iris-virginica
142           5.8          2.7           5.1          1.9   Iris-virginica
143           6.8          3.2           5.9          2.3   Iris-virginica
144           6.7          3.3           5.7          2.5   Iris-virginica
145           6.7          3.0           5.2          2.3   Iris-virginica
147           6.5          3.0           5.2          2.0   Iris-virginica
148           6.2          3.4           5.4          2.3   Iris-virginica
149           5.9          3.0           5.1          1.8   Iris-virginica

In [58]:
df_iris.loc[(df_iris['species'] == 'virginica') & (df_iris['sepal_width'] < 3.0)] # Combinar condiciones (& para AND, | para OR)

Empty DataFrame
Columns: [sepal_length, sepal_width, petal_length, petal_width, species]
Index: []

In [59]:
df_iris.iloc[0] # Selecciona la primera fila (posición 0)

sepal_length            5.1
sepal_width             3.5
petal_length            1.4
petal_width             0.2
species         Iris-setosa
Name: 0, dtype: object

In [60]:
df_iris.iloc[[0, 1, 2]] # Selecciona las primeras 3 filas

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa

In [70]:
df_iris.iloc[:, 0] # Todas las filas, primera columna (posición 0)

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal_length, Length: 150, dtype: float64

In [71]:
df_iris.iloc[0:5, 0:2] # Slicing: Primeras 5 filas, primeras 2 columnas

   sepal_length  sepal_width
0           5.1          3.5
1           4.9          3.0
2           4.7          3.2
3           4.6          3.1
4           5.0          3.6

In [72]:
df_iris.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [73]:
df_iris['petal_ratio'] = df_iris['petal_length'] / df_iris['petal_width']
df_iris.head() # Verifica que la nueva columna se añadió

,sepal_length,sepal_width,petal_length,petal_width,species,petal_ratio
0,5.1,3.5,1.4,0.2,Iris-setosa,7.0
1,4.9,3.0,1.4,0.2,Iris-setosa,7.0
2,4.7,3.2,1.3,0.2,Iris-setosa,6.5
3,4.6,3.1,1.5,0.2,Iris-setosa,7.5
4,5.0,3.6,1.4,0.2,Iris-setosa,7.0